{% load static %}
<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-column">
            <img width="102" height="102" src={% static 'img/logo.svg' %} alt="логотип спорт магазина урал">
            <a href="tel:88000000000">8 800 000 00 00</a>
            <a href="mailto:Sale@uraltreats.ru">Sale@uraltreats.ru</a>
            <p>Екатеринбург, ул. Металлургов, д. 87, ТЦ “МЕГА”</p>
        </div>
        <ul class="footer-navigation-topics">
            <li class="footer-navigation-catalog">
                <h2>Каталог</h2>
                <ul class="footer-navigation">
                    <li class="footer-navigation-item">
                        <a href="#">Протеин</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Креатин</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Изотоники</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Гейнеры</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Шейкеры</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Батончики протеиновые</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">L-карнитин</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Аминокислоты</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Напитки спортивные</a>
                    </li>
                </ul>
            </li>
            <li class="footer-navigation-info">
                <h2>Информация</h2>
                <ul class="footer-navigation">
                    <li class="footer-navigation-item">
                        <a href="#">Сертификаты</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Доставка и Оплата</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Конфиденциальность</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Контакты</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Блог</a>
                    </li>
                    <li class="footer-navigation-item">
                        <a href="#">Возврат</a>
                    </li>
                </ul>
            </li>
            <li class="footer-navigation-social">
                <h2>Мы в социальных сетях</h2>
                <ul class="footer-navigation-soc">
                    <li class="footer-navigation-item">
                        <a class="social telegram" href="#"><img width="14" height="12" src={% static 'img/telegram.svg' %} alt="ссылка на телеграмм"></a>
                    </li>
                    <li class="footer-navigation-item">
                        <a class="social whatsapp" href="#"><img width="15" height="15" src={% static 'img/whatsapp.svg' %} alt="ссылка на ватсап"></a>
                    </li>
                    <li class="footer-navigation-item">
                        <a class="social vk" href="#"><img width="15" height="8" src={% static 'img/vk.svg' %} alt="ссылка на вконтанке"></a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="pay_systems">
            <li class="pay_systems_item">
                <img width="53.5" height="15.5" src={% static 'img/mir.svg' %} alt="мир">
            </li>
            <li class="pay_systems_item">
                <img width="68.4" height="21" src={% static 'img/visa.svg' %} alt="виза">
            </li>
            <li class="pay_systems_item">
                <img width="42" height="41.4" src={% static 'img/webmoney.svg' %} alt="вебмани">
            </li> 
            <li class="pay_systems_item">
                <img width="38" height="36" src={% static 'img/yandex.svg' %} alt="яндекс">
            </li>
            <li class="pay_systems_item">
                <img width="65" height="39" src={% static 'img/master_card.svg' %} alt="мастер кард">
            </li>
        </ul>
        <p class="copyright">© Все права защищены.</p>
    </div>
</footer>