{% load static %}

<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bellota+Text:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href={% static 'css/style.css' %}>

    <title>SPORT SHOP URAL</title>
</head>

<header class="page_header">
    <div class="services">
        <div class="services_content">
            <p class="location">Екатеринбург</p>
            <a class="telephone" href="tel:88000000000">8 800 000 00 00</a>
        </div>
    </div>
    <nav class="main-nav">
        <a href="{% url 'main:index' %}">
            <img width="86" height="90" src="{% static 'img/logo.svg' %}" alt="логотип спорт магазина урал">
        </a>        
        <ul class="site-nav">
            <li class="site-nav-item">
                <a href="#">Каталог</a>
            </li>
            <li class="site-nav-item">
                <a href="#">Сертификаты</a>
            </li>
            <li class="site-nav-item">
                <a href="{%url 'main:delivery' %}">Доставка и Оплата</a>
            </li>
            <li class="site-nav-item">
                <a href="#">Контанты</a>
            </li>
            <li class="site-nav-item">
                <a href="#">Блог</a>
            </li>
        </ul>
        <ul class="toolbar-nav">
            <li class="toolbar-nav-item">
                <a href="#">
                    <img width="24" height="24" src={% static 'img/search.svg' %} alt="Кнопка поиска">
                </a>
            </li>
            <li class="toolbar-nav-item">
                <a href="#">
                    <img width="24" height="24" src={% static 'img/heart.svg' %} alt="Избранные">
                </a>
            </li>
            <li class="toolbar-nav-item">
                <a href="{%url 'users:signup'%}">
                    <img width="24" height="24" src={% static 'img/profile.svg' %} alt="Иконка пользователя">
                </a>
            </li>
            <li class="toolbar-nav-item">
                <a href="#">
                    <img width="24" height="24" src={% static 'img/cart.svg' %} alt="Корзина покупателя">
                </a>
            </li>
        </ul>
    </nav>
</header>