body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    background-color: #fdfdff;
}
/*header*/
.page_header {
    margin: 0;
}
/*header services*/
.services_content {
    padding: 8px 120px;
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
    background-color:#323232;
}
.location {
    margin: 0;
    font-size: 14px;
}
.telephone {
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: none;
}
/*header main-nav*/
.main-nav {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-left:109px;
    padding-right: 122px;
}
.main-nav .logo {
    margin: 0;
    padding: 0;
    margin-right: 98px;
}
/*header main-nav site-nav*/
.site-nav {
    display: flex;
    list-style: none;
}
.site-nav-item {   
    margin-right: 23px;
}
.site-nav-item .active {
    text-decoration: underline;
    text-decoration-color: #000000;
    text-decoration-thickness: 2px;
    text-underline-offset: 12px;
}
.site-nav-item:last-child {
    margin-right: 0;
}
.site-nav-item a {
    color: #000000;
    text-decoration: none;
}
/*header main-nav toolbar*/
.toolbar-nav {
    margin-left: auto;
    display: flex;
    list-style: none;
    
}
.toolbar-nav-item {
    margin-right: 20px;
}
.toolbar-nav-item:last-child {
    margin-right: 0px;
}
.toolbar-nav-item a {
    text-decoration: none;
}
/*main-content*/
.main-content {
    /* width: 1677px; */
    margin: 0;
}
/*main-content hero*/
.hero {
    margin: 0;
    margin-bottom: 102px;
    width: 1674px;
    height: 656px;
    background-color: #F6F2F8;
    box-shadow:0 4px 4px #00000025 ;
}
.hero_info {
    font-family: "Rubik", sans-serif;
    position: absolute;
    top: 226px;
    left: 275px;
}
.hero h1 {
    margin: 0;
    font-size: 99px;
    line-height: 150%;
    font-weight: 500; 
}
.hero p {
    margin: 0;
    font-size: 24px;
    line-height: 150%;
    font-weight: 400; 
}
.hero_btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 268px;
    height: 58px;
    font-size: 18px;
    line-height: 150%;
    letter-spacing:3.75px;
    margin: 0;
    margin-top: 40px;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
}
.hero_btn img {
    width: 14px;
    height: 6px;
    margin-left: 8px;
}
.hero_model1 {
    position: absolute;
    top: 140px;
    left: 808px;
}
.hero_model2 {
    position: absolute;
    top: 140px;
    left: 1235px;
}
/*main-content promotion*/
.promotion {
    margin: 0;
    margin-left: 120px;
    margin-right: 122px;
    margin-bottom: 64px;
}
.promotion_main {
    display: flex;
}
.promotion img {
    border-radius: 30px;
}
.promotion_info {
    margin-left: 72px;
}
.promotion_info h2{
    margin: 0;
    font-size: 32px;
    line-height: 130%;
    font-weight: 400;
}
.promotion_info p {
    width: 619px;
    color: #474747;
    font-size: 16px;
}
.promotion_info a {
    margin: 0;
    margin-top: 22px;
    display: flex;
    color: #CC4C6E;
    text-decoration: none;
}
.promotion_info a img {
    margin-left: 6px;
    width: 24px;
    height: 24px;
}
.promotion-list {
    margin: 0;
    padding: 0;
    margin-top: 36px;
    display: flex;
    list-style: none;
}
.promotion-list-item {
    width: 400px;
    margin-right: 25px;
    padding: 0;
    padding-top: 21px;
    padding-bottom: 20px;
    padding-left: 32px;
    font-size: 18px;
    line-height: 130%;
    color: #464646;
    border:solid 1px #CECECE;
}
.promotion-list-item:last-child {
    margin-right: 0px;
}
/*main-content new_product and recomendation_product*/
.new_product, .recomendation_product {
    margin: 0;
    margin-left: 120px;
    margin-right: 122px;
    margin-bottom: 20px;
}
.recomendation_product {
    margin-bottom: 36px;
}
.new_product_head, .recomendation_product_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
}
.new_product h2 , .recomendation_product h2 {
    font-size: 28px;
    line-height: 130%;
    margin: 0;
}
.cards {
    margin: 0;
    padding: 0;
    display: flex;
}
 .card {
    margin: 0;
    margin-right: 56px;
    list-style: none;
}
.card_container_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 377px; 
    height: 400px;
}
.card img {
    display: block;
    border-radius: 30px;
}
.card_container_info {
    margin: 0;
    margin-top: 20px;
    margin-left: 24px;
    padding: 0;
    display: grid;
    grid-template-columns:196px auto auto;
    grid-template-rows: 1fr 1fr;
    
    grid-template-areas: 
    "title title title"
    "description price priceOld";
    row-gap: 6px;
}
.card_title {
    margin: 0;
    padding: 0;
    font-family: "Bellota Text", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 1.5px;
    color: #1A1A1A;
    margin-bottom: 6px;
    grid-area: title;
}
.card_description {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 18px;
    color: #5C5C66;
    grid-area: description;
}
.card_price {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 19px;
    font-weight: 700;
    grid-area: price;
}
.card_price_old {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #BCBCBC;
    grid-area: priceOld;
}

/*main-content sale_product*/
.sale_product {
    margin: 0;
    width: 100%;
    overflow: hidden;
    margin-bottom: 59px;
} 
.sale_product_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 120px;
}

.sale_product .cards {
    position: relative;
    right: 655px;
}

.sale_product .card .sale_card_container {
    width: 990px;
    height: 482px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #F4F6FA, #F4F6F8);
}
.sale_card_info {
    position: relative;
    top: -13px;
    margin: 0;
    padding: 0;
    padding-left: 32px;
}
.sale_card_info h3{
    font-family: "Bellota Text", sans-serif;
    font-weight: 700;
    font-size: 48px;
    height: 130%;
    letter-spacing:3.75px;   
}
.sale_card_info p{
    padding-top: 18px;
    font-size: 18px;
    height: 130%;
    color: #969696;
}

/*main-content mailing*/
.mailing {
    display: flex;
    margin: 0;
    margin-left: 161px;
    margin-bottom: 77px;
}
.mailing_content {
    width: 530px;
    margin: 0;
    padding: 0;
    padding-left: 38px;
    padding-top: 107px;
}
.mailing_content h2 {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
    font-size: 48px;
    line-height: 110%;
}
.mailing_content p {
    margin: 0;
    margin-bottom: 17px;
    padding: 0;
    font-size: 22px;
    line-height: 130%;
    color: #5A5A5A;
}

.mailing_content img {
    border-radius: 30px;
}

.mailing_content input {
    font-size: 22px;
    line-height: 130%;
    width: 100%;
    display: block;
    border: none;
    border-bottom:solid 1px #C4C4C4;
}
.mailing_content button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
    font-size: 22px;
    line-height: 130%;
    letter-spacing:3.75px;
    margin: 0;
    margin-top: 30px;
    color: #FFFFFF;
    background-color: #000000;
    border: none;
}

/*main-footer*/
.main-footer {
    margin: 0;
    width: 100%;
    
}
.footer-container {
    display: grid;
    grid-template-columns: 554px 1fr;
    grid-template-rows: 391px 89px 121px;
    grid-template-areas:
    "info nav"
    ". pay"
    "copyright .";
}
.footer-column {
    margin: 0;
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    grid-area: info;
}
.footer-column img {
    margin: 0;
    margin-bottom: 13px;
}
.footer-column a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 22px;
    line-height: 200%;
    color : #828282;
}
.footer-column p {
    font-size: 16px;
    line-height: 150%;
    color : #828282;
}
.footer-navigation-topics {
    display: flex;
    list-style: none;
    grid-area: nav;
}
.footer-navigation-topics h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 2px;
    font-size: 22px;
    line-height: 150%;
}
.footer-navigation-catalog {
    margin: 0;
    margin-right: 386px;
    padding: 0;
}
.footer-navigation-info {
    margin: 0;
    padding: 0;
}
.footer-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-navigation-item a {
    font-size: 14px;
    line-height: 200%;
    color: #4E4E4E;
    text-decoration: none;
}
.footer-navigation-social {
    margin: 0;
    margin-left: 178px;
}
.footer-navigation-social h2 {
    line-height: 200%;
    margin-bottom: 11px;
}
.footer-navigation-soc {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}
.social {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 28px;
    height: 28px;
    border-radius: 100%;
}
.telegram {
    opacity: 0.7;
    background-color: #2F89CE;
} 
.whatsapp {
    opacity: 0.7;
    background-color: #48C95F;
}
.vk {
    opacity: 0.7;
    background-color: #7294C7;
}
.footer-navigation-soc .footer-navigation-item {
    margin-right: 9px;
}
.footer-navigation-soc .footer-navigation-item:last-child {
    margin-right: 0;
}
.social img {
    display: block;
}
.pay_systems {
    display: flex;
    justify-content:space-around;
    align-items: center;
    width: 456px;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    margin-left: auto;
    margin-right: 270px;
    list-style: none;
    grid-area: pay;
}
.pay_systems_item img {
    display: block;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    filter: saturate(0%);
}

.copyright {
    font-size: 16px;
    line-height: 150%;
    color: #B7B7B7;
    margin: 0;
    padding: 0;
    margin-top: 72px;
    margin-bottom: 25px;
    margin-left: 120px;
    grid-area: copyright;
}
/*product_page main-product-information*/
.main-direction {
    margin: 0;
    padding: 0;
    margin-top: 48px;
    margin-bottom: 25px;
    margin-left: 121px;
    font-size:14px;
    line-height:200%;
    color:#757575;
}
.basic-information {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: 121px;
    margin-bottom: 142px;
}
.basic-information img{
    margin-top: 87px;
    display:block;
}

.basic-description {
    margin: 0;
    padding: 0;
    margin-left: 47px;
    width: 1138px;
}

.product-title {
    margin: 0;
    padding: 0;
    color:#000000;
    font-size:48px;
    font-family: "Bellota Text", sans-serif;
    letter-spacing:3.75px;
    line-height:130%;
}

.vendor-code {
    margin: 0;
    padding: 0;
    padding-left: 279px;
    margin-bottom: 29px;
    color:#afafaf;
    font-size:14px;
    line-height:200%;
}

.product_volume {
    margin: 0;
    padding: 0;
    margin-bottom: 29px;
    padding-left: 279px;
    font-size:16px;
    line-height: 200%;
    color: #000000;
}

.volume {
    margin: 0;
    padding: 0;
    padding: 12px 8px;
    margin-right: 17px;
    border: solid 1px #000000;
    font-size:16px;
    line-height: 200%;
    color: #000000;
}

.price {
    margin-bottom: 29px;
    padding-left: 279px;
    color:#000000;
    font-size:24px;
    line-height:200%;
    font-weight: 700;
}
.product_add {
    margin: 0;
    margin-top: 30px;
    margin-left: 279px;
    padding: 8px 42px 8px 40px;
    width: 268px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    line-height: 200%;
    letter-spacing:3.75px;
    color: #FFFFFF;
    background-color: #000000;
    text-decoration: none;
}
.description {
    color:#3b3b3b;
    font-size:14px;
    line-height:200%;
}
/*product_page description*/
.description {
    margin: 0;
    padding: 0;
    margin-left: 121px;
    margin-right: 117px;
}
.description-title {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 14px;
}
.description hr {
    border: solid 1px #C4C4C4;
    border-bottom: 0;
    margin-top: 8px;
    margin-right: 117px;
    margin-bottom: 14px;
}
.description-name {
    font-size:16px;
    line-height:130%;
    margin-bottom: 8px;
}
.description .vendor-code {
    padding-left: 0;
    margin-bottom: 18px;
}
.description-full {
    color:#3b3b3b;
    font-size:14px;
    line-height:200%;
    width: 1007px;
}
.description_info {
    margin: 0;
    padding: 0;
}
.description_info th{
    padding-right: 33px;
    padding-bottom: 13px;
    width: 174px;
    text-align: left;
    font-size:14px;
    line-height:200%;
    color:#afafaf;
}
.description_info td {
    font-size:14px;
    vertical-align: top;
    color:#000000;
    line-height:200%;
}

/*order*/
.v8999_1112 {
  width: 100%;
  height: 1080px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v8999_1116 {
  width: 172px;
  color: rgba(123,122,122,1);
  position: absolute;
  top: 240px;
  left: 575px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: left;
}
.v8999_1117 {
  width: 349px;
  height: 1px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 274px;
  left: 575px;
  overflow: hidden;
}
.v8999_1118 {
  width: 61px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 179px;
  left: 434px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v8999_1119 {
  width: 252px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 179px;
  left: 575px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v8999_1121 {
  width: 61px;
  color: rgba(88,88,88,1);
  position: absolute;
  top: 295px;
  left: 434px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v8999_1122 {
  width: 166px;
  color: rgba(88,88,88,1);
  position: absolute;
  top: 295px;
  left: 575px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v8999_1124 {
  width: 61px;
  color: rgba(88,88,88,1);
  position: absolute;
  top: 411px;
  left: 434px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v8999_1125 {
  width: 102px;
  color: rgba(88,88,88,1);
  position: absolute;
  top: 411px;
  left: 575px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v8999_1126 {
  width: 125px;
  height: 32px;
  background: url("/img/v8999_1126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 573px;
  left: 683px;
  overflow: hidden;
}
.v8999_1127 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v8999_1130 {
  width: 94px;
  height: 94px;
  background: url("/img/v8999_1130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 258px;
  left: 1081px;
  overflow: hidden;
}
.v8999_1131 {
  width: 86px;
  height: 90px;
  background: url("/img/v8999_1131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 27px;
  left: 908px;
  overflow: hidden;
}
.v8999_1132 {
  width: 100%;
  height: 146px;
  background: url("/img/v8999_1132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 934px;
  left: 0px;
  overflow: hidden;
}
.v8999_1133 {
  width: 100%;
  height: 146px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8999_1134 {
  width: 184px;
  height: 73px;
  background: url("/img/v8999_1134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 334px;
  overflow: hidden;
}
.v8999_1135 {
  width: 184px;
  color: rgba(172,172,172,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1136 {
  width: 161px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 29px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v8999_1137 {
  width: 185px;
  height: 75px;
  background: url("/img/v8999_1137.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 559px;
  overflow: hidden;
}
.v8999_1138 {
  width: 150px;
  color: rgba(172,172,172,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1139 {
  width: 185px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 31px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v8999_1140 {
  width: 142px;
  color: rgba(172,172,172,1);
  position: absolute;
  top: 63px;
  left: 1299px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1141 {
  width: 120px;
  color: rgba(172,172,172,1);
  position: absolute;
  top: 63px;
  left: 1470px;
  font-family: Open Sans;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}

/*delivery*/
.v8999_1048 {
  width: 100%;
  height: 2050px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v8999_1050 {
  width: 720px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 184px;
  left: 121px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 80px;
  text-align: left;
}
.v8999_1051 {
  width: 720px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 605px;
  left: 121px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 32px;
  text-align: left;
}
.v8999_1052 {
  width: 476px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1202px;
  left: 121px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 32px;
  text-align: left;
}
.v8999_1053 {
  width: 717px;
  height: 1px;
  background: rgba(201,201,201,1);
  position: absolute;
  top: 675px;
  left: 124px;
  overflow: hidden;
}
.v8999_1054 {
  width: 263px;
  color: url("/img/v8999_1054.png");
  position: absolute;
  top: 694px;
  left: 121px;
  text-align: left;
}
.v8999_1055 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 764px;
  left: 121px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 22px;
  opacity: 1;
  text-align: left;
}
.v8999_1056 {
  width: 719px;
  height: 123px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 855px;
  left: 121px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v8999_1058 {
  width: 555px;
  color: rgba(130,130,130,1);
  position: absolute;
  top: 893px;
  left: 236px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v8999_1060 {
  width: 917px;
  height: 502px;

  position: absolute;
  top: 605px;
  left: 889px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v8999_1063 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1300px;
  left: 147px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1064 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1750px;
  left: 155px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1065 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1850px;
  left: 155px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1066 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1600px;
  left: 155px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1067 {
  width: 649px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1400px;
  left: 178px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1068 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1300px;
  left: 102px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1069 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1600px;
  left: 110px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1070 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1750px;
  left: 110px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1071 {
  width: 15px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1850px;
  left: 110px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1072 {
  width: 100%;
  height: 161px;
  background: url("/img/v8999_1072.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 370px;
  left: 121px;
  overflow: hidden;
}
.v8999_1073 {
  width: 100%;
  height: 161px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
}
.v8999_1074 {
  width: 399px;
  height: 77px;
  background: url("/img/v8999_1074.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 45px;
  overflow: hidden;
}
.v8999_1075 {
  width: 140px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Bellota Text;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v8999_1076 {
  width: 399px;
  color: rgba(70,70,70,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1077 {
  width: 399px;
  height: 56px;
  background: url("/img/v8999_1077.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 643px;
  overflow: hidden;
}
.v8999_1078 {
  width: 399px;
  color: rgba(70,70,70,1);
  position: absolute;
  top: 35px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1079 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Bellota Text;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v8999_1080 {
  width: 399px;
  height: 93px;
  background: url("/img/v8999_1080.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 1260px;
  overflow: hidden;
}
.v8999_1081 {
  width: 399px;
  color: rgba(70,70,70,1);
  position: absolute;
  top: 51px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v8999_1082 {
  width: 215px;
  color: rgba(0,0,0,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Bellota Text;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v8999_1083 {
  width: 2px;
  height: 87px;
  background: rgba(227,227,227,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 566px;
  overflow: hidden;
}
.v8999_1084 {
  width: 2px;
  height: 87px;
  background: rgba(227,227,227,1);
  opacity: 1;
  position: absolute;
  top: 37px;
  left: 1102px;
  overflow: hidden;
}
.h2_blog {
  margin-left: 121px;
  margin-bottom: 151px;
}
.blog_containeer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  
    justify-content: stretch;
    margin-left: 121px;
    margin-bottom: 473px;
  
}
.catalog_h2 {
  margin-top: 48px;
  margin-bottom: 42px;
}
.catalog_container {
  margin-left: 121px;
  height: 2429px;
}
.catalog_container a {
  margin-right: 30px;
  display: inline-block;
  color: #000000;
  text-decoration: underline;
  text-underline-offset: 8px;
}
.account {
  margin: 0;
  padding: 0;
  margin-left: 393px;
}
.account_h1{ 
  margin-bottom: 172px;
  color: black;
  font-size: 107px;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 200%;
}
.form {
  display: flex;
  flex-direction: column;
}
.form-input {
  height:33px;
  width:371px;
  margin-bottom: 38px;
  margin-left: 364px;
  font-size:16px;
  font-family:Roboto;
  line-height:150%;
  color:#828282;
  border: none;
  border-bottom: 1px solid #CACACA;
}
.form-button {
  margin-top: 78px;
  margin-left: 364px;
  margin-bottom: 48px;
  height:53px;
  width:377px;
  color: white;
  background-color: #000000;
  font-size:16px;
  font-family:Roboto;
  letter-spacing:3.75px;
  line-height:200%;
  border: none;
}
.form-new {
  margin-left: 320px;
  margin-bottom: 293px;
  font-size:24px;
  font-family:Roboto;
  line-height:200%;
  color: #00000050;
}
.form-new .form-new-create {
  color: #000000;
  text-decoration: none;
}
.account_h1.reg {
  margin-left: 234px;
  margin-bottom: 40px;
}
.form-input.lastName {
  margin-bottom: 21px;
}
.form-input.name{
  margin-bottom: 40px;
}
.form-input.otc{
  margin-bottom: 52px;
}
.form-input.date{
  margin-bottom: 21px;
}
.form-input.mail{
  margin-bottom: 21px;
}
.form-input.tel{
  margin-bottom: 21px;
}
.form-input.city{
  margin-bottom: 21px;
}
.checkbox {
  display:block;
  background:#000000;
  height:20px;
  width:20px;
  margin-top: 8px;
  margin-bottom: 26px;
  margin-right: 18px;
}
.politic-container {
  margin: 0;
  display: flex;
  margin-left: 364px;
  margin-bottom: 38px;
}
.politic {
  margin: 0;
  font-size:12px;
  font-family:Roboto;
  line-height:150%;
  width:333px;
}
.form-button.reg {
  margin-top: 0;
  margin-bottom: 196px;
}
.pol {
  color : #D785A1;
}
.account_h1.prof {
  padding: 0;
  margin-top: 0;
  margin-left: 166px;
  margin-bottom: 56px;
}
.account.profile {
  margin-top: 109px;
  display: flex;
  margin-left: 223px;
}
.profile-name {
  margin-top: 60px;
  width:366px;
  font-size:32px;
  font-family:Roboto;
  line-height:150%;
  margin-bottom: 70px;
}
.profile-list {
  font-size:24px;
  font-family:Roboto;
  line-height:200%;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: 30px;
}
.form-button.prof {
  margin-bottom: 228px;
} 
.profile-item {
  color: #828282;
}
.active {
  color : #000000; 
}