{%load static%}
<!DOCTYPE html>
<html lang="ru">

{% include 'includes/header.html' %}

    <main>
        <div class="h2_blog" style="color: black; font-size: 80px; font-family: Roboto; font-weight: 700; line-height: 160px; word-wrap: break-word">Блог</div>
        <div class="blog_containeer">
        <div>
            <img src={% static 'img/image_32.png' %} alt="">
            <div style="width: 520px; color: #D785A1; font-size: 22px; font-family: Roboto; font-weight: 400; line-height: 33px; word-wrap: break-word">Метаболический синдром</div>
    <div style="width: 520px; height: 71px; color: #636363; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Метаболический синдром – это собирательный диагноз, представляющий серьёзную опасность для здоровья человека</div>
        </div>
        <div>
            <img src={% static 'img/image_33.png' %} alt="">
    <div style="width: 520px; color: black; font-size: 22px; font-family: Roboto; font-weight: 400; line-height: 33px; word-wrap: break-word">Профилактика возрастных изменений костных и соединительных тканей<br/></div>
<div style="width: 520px; height: 71px; color: #636363; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Всем нам хочется дольше оставаться молодыми, крепкими, здоровыми и красивыми. А стареть никто не хочет.</div>
        </div>
    <div>
        <img src={% static 'img/image_34.png' %} alt="">
    <div style="width: 520px; color: black; font-size: 22px; font-family: Roboto; font-weight: 400; line-height: 33px; word-wrap: break-word">Необходимость соблюдать питьевой режим<br/></div>
<div style="width: 520px; height: 71px; color: #636363; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Питьевой режим – это потребность в чистой питьевой воде течение дня с учётом внешних факторов и уровня физической активности.</div>
    </div>
    <div>
        <img src={% static 'img/image_35.png' %} alt="">
        <div style="width: 520px; color: black; font-size: 22px; font-family: Roboto; font-weight: 400; line-height: 33px; word-wrap: break-word">Мышечные судороги, их причины и как с ними бороться<br/></div>
    <div style="width: 520px; height: 71px; color: #636363; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Каждый человек в своей жизни сталкивался с такой жалобой как судороги в ногах. Чаще подобное бывает у людей с высокой физической активностью и у спортсменов.</div>
    </div>
    
    <div>
        <img src={% static 'img/Rectangle_117.png' %} alt="">
    <div style="width: 520px; color: black; font-size: 22px; font-family: Roboto; font-weight: 400; line-height: 33px; word-wrap: break-word">Витамины и добавки для нормализации микрофлоры кишечника</div>
<div style="width: 520px; height: 71px; color: #636363; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Современная наука довольно многое знает о человеческом организме. Как он работает, что на него влияет плохо, а что хорошо, что укрепляет, а что истощает его ресурсы.</div>
    </div>
    <div>
        <img src={% static 'img/Rectangle_118.png' %} alt="">
    <div style="width: 520px; color: black; font-size: 22px; font-family: Roboto; font-weight: 400; line-height: 33px; word-wrap: break-word">Дополнительный прием аминокислот при стрессе и тревожности<br/></div>
<div style="width: 520px; height: 71px; color: #636363; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">Существует мнение, что тревожность может быть устранена только лекарственными веществами.</div>
    </div>
</div>

</main>
{% include 'includes/footer.html' %}

</body>

</html>