{%load static%}
<!DOCTYPE html>
<html lang="ru">

{% include 'includes/header.html' %}

<div class="v8999_1048">
    <div class="name"></div>
    <span class="v8999_1050">Доставка и Оплата</span>
    <span class="v8999_1051">Варианты доставки в г.Екатеринбург</span>
    <span class="v8999_1052">Правила предоставления услуг</span>
    <div class="v8999_1053"></div>
    <span class="v8999_1054">Доставка от 400 ₽ при заказе от 40 000 ₽ - Бесплатно</span>
    <span class="v8999_1055">Самовывоз</span>
    <div class="v8999_1056"></div>
    <div class="name"></div>
    <span class="v8999_1058">Добавьте товары в корзину, и мы рассчитаем точные условия доставки для вашего заказа</span>
    <div class="name"></div>
    <img class="v8999_1060" src={% static 'img/v8999_1060.png' %} alt="">
    <div class="name"></div>
    <div class="name"></div>
    <span class="v8999_1063">Самовывоз из магазина. Доступные способы оплаты: банковской картой, наличными, подарочными картами.</span>
    <span class="v8999_1064">Курьерская доставка на выбранный адрес. Доставка осуществляется курьерскими компаниями. Доступные способы оплаты: банковской картой, наличными, применение подарочной карты невозможно.</span>
    <span class="v8999_1065">Самовывоз из пунктов выдачи заказов курьерских служб. Перечень адресов выдачи доступен при выборе данного способа доставки. Доступные способы оплаты: банковской картой при наличии технической возможности, наличными, применение бонусов невозможно.</span>
    <span class="v8999_1066">Самовывоз из почтовых отделений Почты России, доставку осуществляет ФГУП «Почта России». Доступные способы оплаты: банковской картой при наличии технической возможности, наличными, применение бонусов невозможно.</span>
    <span class="v8999_1067">Выберите нужные средства на сайте. Проверьте их наличие в магазине вашего города. При оформлении заказа выберите способ доставки «самовывоз из магазина». Как только заказ будет собран, вы получите SMS-сообщение. Заберите ваш заказ из магазина.</span>
    <span class="v8999_1068">1.</span>
    <span class="v8999_1069">2.</span>
    <span class="v8999_1070">3.</span>
    <span class="v8999_1071">4.</span>
    <div class="v8999_1072">
        <div class="v8999_1073"></div>
        <div class="v8999_1074">
            <span class="v8999_1075">Пункты выдачи</span>
            <span class="v8999_1076">Выбирайте наиболее удобный для вас пункт выдачи и дату получения заказа.</span>
        </div>
        <div class="v8999_1077">
            <span class="v8999_1078">Получайте товар уже на следующий день.</span>
            <span class="v8999_1079">Экспресс-доставка</span>
        </div>
        <div class="v8999_1080">
            <span class="v8999_1081">Мы серьезно относимся к процессу доставки и доверяем её только профессионалам своего дела.</span>
            <span class="v8999_1082">Профессионально и безопасно</span>
        </div>
        <div class="v8999_1083"></div>
        <div class="v8999_1084"></div>
    </div>
</div>
    {% include 'includes/footer.html' %}

</body>
</html>
