{% load static %}
<!DOCTYPE html>
<html lang="ru">

{% include 'includes/header.html' %}


<body class="page">
    <main class="main-content">
        <section class="hero">
            <div class="hero_info">
                <h1>URAL TREATS</h1>
                <p>Специальные цены только до 30 апреля</p>
                <a href="{% url 'products:catalog' %}"><button class="hero_btn">Перейти в каталог <img src={% static 'img/vector.svg' %} alt=""></button></a>
            </div>
            <img class="hero_model1" width="434" height="660" src={% static 'img/hero_model1.png' %} alt="">
            <img class="hero_model2" width="434" height="660" src={% static 'img/hero_model2.png' %} alt="">
        </section>


        <section class="promotion">
            <div class="promotion_main">
                <img width="784" height="357" src={% static 'img/gaba.jpg' %} alt="">
                <div class="promotion_info">
                    <h2>
                        GABA, 700 мг 90 капсул по 833 мг,
                        Гамма аминомасляная кислота, способствует улучшению памяти и
                        качества
                        сна, от стресса
                    </h2>
                    <p>
                        GABA (гамма-аминомасляная кислота) – непротеиногенная аминокислота,
                        тормозной нейромедиатор центральной нервной системы.<br>
                        Принимает участие в регуляторных и метаболических процессах в мозге.<br>
                        Ноотропное средство,участвует в метаболизме глюкозы и тканевом дыхании.
                    </p>
                    <a href="http://127.0.0.1:8000/catalog/product/gaba-700-mg-90-kapsul-po-833-mg-gamma-aminomaslyanaya-kislota/">Подробнее <img src={% static 'img/promotion_vector.svg' %} alt=""></a>
                </div>

            </div>
            <ul class="promotion-list">
                <li class="promotion-list-item">
                    Безупречный состав<br>
                    и эффективность
                </li>
                <li class="promotion-list-item">
                    Натуральность и<br>
                    экологичность
                </li>
                <li class="promotion-list-item">
                    Наличный<br>
                    и безналичный расчет
                </li>
                <li class="promotion-list-item">
                    Доставка<br>
                    по всей России
                </li>
            </ul>
        </section>

        <section class="new_product">
            <div class="new_product_head">
                <h2>Новинки</h2>
                <div class="new_product_navigation">
                    <img width="24" height="24" src={% static 'img/prev.svg' %} alt="">
                    <img width="24" height="24" src={% static 'img/next.svg' %} alt="">
                </div>
            </div>
            <ul class="cards">
                <li class="card">
                    <div class="card_container_img">
                        <img width="377" height="400" src={% static 'img/Soulway.jpg' %} alt="Протеин Soulway">
                    </div>
                    <div class="card_container_info">
                        <h3 class="card_title">Протеин Soulway 900 г</h3>
                        <p class="card_description">Клубника</p>
                        <p class="card_price">4490 руб</p>
                    </div>
                </li>
                <li class="card">
                    <div class="card_container_img">
                        <img width="377" height="400" src={% static 'img/PRIMECRAFT.jpg' %} alt="Протеин PRIMECRAFT">
                    </div>
                    <div class="card_container_info">
                        <h3 class="card_title">Протеин PRIMECRAFT 900г</h3>
                        <p class="card_description">Белый шоколад с клубникой</p>
                        <p class="card_price">3 490 руб</p>
                    </div>
                </li>
                <li class="card">
                    <div class="card_container_img">
                        <img width="303" height="137" src={% static 'img/Bombbar.jpg' %} alt="Батончик протеиновый Bombbar">
                    </div>
                    <div class="card_container_info">
                        <h3 class="card_title">Батончик протеиновый Bombbar</h3>
                        <p class="card_description">Фисташечная меренга</p>
                        <p class="card_price">179 руб</p>
                    </div>
                </li>
                <li class="card">
                    <div class="card_container_img">
                        <img width="377" height="400" src={% static 'img/SPORTINA.jpg' %} alt="Напиток SPORTINA">
                    </div>
                    <div class="card_container_info">
                        <h3 class="card_title">Напиток SPORTINA</h3>
                        <p class="card_description">Апельсин, яблоко, груша</p>
                        <p class="card_price">149 руб</p>
                    </div>
                </li>
            </ul>
        </section>

        <section class="sale_product">
            <div class="sale_product_head">
                <h2>Акционные товары</h2>
                <div class="new_product_navigation">
                    <img width="24" height="24" src={% static 'img/prev.svg' %} alt="">
                    <img width="24" height="24" src={% static 'img/next.svg' %} alt="">
                </div>
            </div>
            <ul class="cards">
                <li class="card">
                    <div class="sale_card_container">
                        <img width="473" height="492" src={% static 'img/GABA_GLS.jpg' %} alt="Maxler Creatine">
                    </div>
                    <div class="sale_card_info">
                        <h3 class="card_title">GABA GLS</h3>
                        <p class="card_description">Гамма-аминомасляная кислота</p>
                    </div>
                </li>
                <li class="card">
                    <div class="sale_card_container">
                        <img width="346" height="419" src={% static 'img/Maxler_Creatine.jpg' %} alt="Maxler Creatine">
                    </div>
                    <div class="sale_card_info">
                        <h3 class="card_title">Maxler Creatine</h3>
                        <p class="card_description">Креатин моногидрат</p>
                    </div>
                </li>
                <li class="card">
                    <div class="sale_card_container">
                        <img width="394" height="408" src={% static 'img/L-CRANITIN_SOLAB.jpg' %} alt="Maxler Creatine">
                    </div>
                    <div class="sale_card_info">
                        <h3 class="card_title">L-CARNITIN SOLAB</h3>
                        <p class="card_description">850мг L-CARNITIN SOLAB AMINO ACID</p>
                    </div>
                </li>
            </ul>
        </section>

        <section class="recomendation_product">
            <div class="recomendation_product_head">
                <h2>Рекомендуемые товары</h2>
                <div class="new_product_navigation">
                    <img width="24" height="24" src={% static 'img/prev.svg' %} alt="">
                    <img width="24" height="24" src={% static 'img/next.svg' %} alt="">
                </div>
            </div>
            <ul class="cards">
                <li class="card">
                    <div class="card_container_img">
                        <img src={% static 'img/BCAA_411_COMPLEX.jpg' %} alt="Протеин Soulway">
                    </div>
                    <div class="card_container_info">
                        <h3 class="card_title">BCAA 4:1:1 COMPLEX ATECH</h3>
                        <p class="card_description">240 капсул</p>
                        <p class="card_price">2 480 руб</p>
                        <span class="card_price_old">3579 руб</span>
                    </div>
                </li>
                <li class="card">
                    <div class="card_container_img">
                        <img src={% static 'img/BCAA_211_PRIMECRAFT.jpg' %} alt="BCAA 2:1:1 PRIMECRAFT">
                    </div>
                    <div class="card_container_info">
                        <h3 class="card_title">BCAA 2:1:1 PRIMECRAFT</h3>
                        <p class="card_description">240 капсул</p>
                        <p class="card_price">2 480 руб</p>
                    </div>
                </li>
                <li class="card">
                    <div class="card_container_img">
                        <img src={% static 'img/BCAA_211.jpg' %} alt="BCAA 2:1:1">
                    </div>
                    <div class="card_container_info">
                        <h3 class="card_title">BCAA 2:1:1</h3>
                        <p class="card_description">90 капсул</p>
                        <p class="card_price">2 480 руб</p>
                    </div>
                </li>
                <li class="card">
                    <div class="card_container_img">
                        <img src={% static 'img/BCAA_211_instant.jpg' %} alt="BCAA 2:1:1 INSTANT">
                    </div>
                    <div class="card_container_info">
                        <h3 class="card_title">BCAA 2:1:1</h3>
                        <p class="card_description">200 капсул</p>
                        <p class="card_price">2 480 руб</p>
                        <span class="card_price_old">3579 руб</span>
                    </div>
                </li>
            </ul>
        </section>
        <section class="mailing">
            <img width="789" height="557" src={% static 'img/mailing_image.jpg' %} alt="изображение цветка">
            <div class="mailing_content">
                <h2>Подпишитесь на рассылку</h2>
                <p>Узнай первым о старте скидок и специальных  предложений!</p>
                <form action="" method="POST">
                    <input type="email" placeholder="Введите почту">
                    <button type="submit">Подписаться</button>
                </form>
            </div>
        </section>
    </main>

    {% include 'includes/footer.html' %}

</body>

</html>