<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% include 'includes/header.html' %}
<main>
    <article class="account profile">
        <div class="container-profile">
            <h2 class="profile-name">{{ user.first_name }} {{ user.last_name }}</h2>
            <ul class="profile-list">
                <li class="profile-item active">Личная информация</li>
                <li class="profile-item"> <a href="{% url 'cart:order_history' %}"> Мои покупки</li>
                <li class="profile-item">
                    <a href="{% url 'users:logout' %}">Выйти</a>
                </li>
            </ul>
        </div>
        <div>
            <h1 class="account_h1 prof">Личная информация</h1>
            <form action="" method="post" class="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field }}
                        {{ field.errors }}
                    </div>
                {% endfor %}
                <div class="politic-container">
                    <input class="checkbox" type="checkbox" name="" id="">
                    <p class="politic">Я даю согласие на обработку своих персональных данных в соответствии с 
                        <span class="pol">Политикой в отношении обработки персональных данных</span> и 
                        <span class="pol">Пользовательским соглашением</span>.
                    </p>
                </div>
                <button class="form-button prof" type="submit">Сохранить</button> 
            </form>
        </div>
    </article>
</main>
{% include 'includes/footer.html' %}
</body
