{% load static %}

<!DOCTYPE html>
<html lang="ru">

{% include 'includes/header.html' %}

    <main>
        <article class="account profile">
            <div class="container-profile">
                <h2 class="profile-name">{user.first_name}<br>Трифонов</h2>
                <ul class="profile-list">
                    <li class="profile-item active">Личная информация</li>
                    <li class="profile-item">Мои покупки</li>
                    <li class="profile-item">Выйти</li>
                </ul>
            </div>
            <div>
                <h1 class="account_h1 prof">Личная информация</h1>
                <form action="" method="post" class="form">
                    <input class="form-input lastName" type="text" placeholder="Трифонов"> 
                    <input class="form-input name" type="text" placeholder="Валерий"> 
                    <input class="form-input otc" type="text" placeholder="Альбертович"> 
                    <input class="form-input date" type="text" placeholder="23.01.1970"> 
                    <input class="form-input mail" type="text" placeholder="TrifonovValera1970@mail.ru">
                    <input class="form-input tel" type="text" placeholder="+ 7 (999) 446-46-81"> 
                    <input class="form-input city" type="text" placeholder="Екатеринбург"> 
                    <div class="politic-container">
                        <input class="checkbox" type="checkbox" name="" id=""><p class="politic">Я даю согласие на обработку своих персональных данных в соответсвии с 
                        <span class="pol">Политикой в отношении обработки персональных данных</span> и <span class="pol">Пользовательским соглашением</span>.</p>
                    </div>
                    <button class="form-button prof" type="submit">Сохранить</button> 
                </form>
            </div>
           
        </article>
    </main>
    {% include 'includes/footer.html' %}
</body>

</html>