{%load static%}
<!DOCTYPE html>
<html lang="ru">

{% include 'includes/header.html' %}

        <main>
            <section class="basket">
              <header class="basket-header">
                <h2 class="basket-title">
                  <span style="font-family: Roboto, sans-serif; font-weight: 700;">Корзина</span>
                  <span style="font-family: Roboto, sans-serif;">/</span>
                  <span style="font-family: Roboto, sans-serif; font-size: 32px;">1 шт.</span>
                </h2>
                <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/ffb1683c270a4cf29c1c8712448719a400e3a9d20c0515b8e4aa9dbbcb25ebeb?apiKey=0c9963aed6d14e5e8dd758979433fe6a&" alt="" class="basket-icon" loading="lazy" />
              </header>
              <p class="delivery-info">быстрая доставка</p>
              <div class="product-details">
                <div class="product-info">
                  <div class="product-image-wrapper">
                    <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/89559510970b6b6ace34a0742bb512af440b712e752ef2da084e009a2034a605?apiKey=0c9963aed6d14e5e8dd758979433fe6a&" alt="Напиток SPORTINA" class="product-image" loading="lazy" />
                  </div>
                  <div class="product-description-wrapper">
                    <div class="product-description">
                      <p class="product-flavor">Апельсин, яблоко, груша</p>
                      <h3 class="product-name">Напиток SPORTINA</h3>
                      <p class="product-size">490 мл</p>
                    </div>
                  </div>
                </div>
              </div>
              <p class="product-price">149 руб</p>
              <div class="divider"></div>
              <p class="total-label">К оплате</p>
              <p class="total-price">328 руб</p>
              <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/8babd0236f638175889b9e2b507abdd701908bbfe87f87d7dea2ba557d94b8cd?apiKey=0c9963aed6d14e5e8dd758979433fe6a&" alt="Оформить заказ" class="checkout-button" loading="lazy" />
            </section>
          </main>
          {% include 'includes/footer.html' %}
        </body>
        </html>