{% load static %}
<!DOCTYPE html>
<html lang="ru">
{% include 'includes/header.html' %}
<main>
    <div class="container">
        <h2>История заказов</h2>
        {% if orders %}
            <ul>
                {% for order in orders %}
                    <li>
                        <strong>Заказ {{ order.id }} от {{ order.created_at }}</strong>
                        <ul>
                            {% for item in order.items.all %}
                                <li>{{ item.product.name }} - {{ item.quantity }} шт. ({{ item.price }} за шт.)</li>
                            {% endfor %}
                        </ul>
                        <p>Общая стоимость: {{ order.get_total_cost }} руб.</p>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>У вас нет заказов</p>
        {% endif %}
    </div>
</main>
{% include 'includes/footer.html' %}
</html>
